@model App.Models.Posts

@{
    ViewBag.Title = "GoPost";
}

<div style="margin: 40px">
    <hr />
    <h4>Aktuální téma: @Html.ActionLink(Session["ThemeName"].ToString(), "BackToTheme", new { @class = "h4", @style = "font-weight: bold; color: black" })</h4>
    <hr/>
    <div class="form-group">
        @{ Html.RenderAction("_AddResponse", Model); }
    </div>

    <table class="table">
        <tr style="background-color: gainsboro">
            <td>
                @Html.DisplayFor(model => model.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(model => model.AddedAt)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @readonly = "true", @style = "border-style: none; width: 100%; min-width: 100%; height: 75px; min-height: 75px; cursor: default; background-color: white; font-size: 16px " })
            </td>
        </tr>
    </table>
    <hr />
    <div id="responses">
        @{ Html.RenderAction("_GetResponses", Model);  }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#responses').load('@Url.Action("_GetResponses", "ForumManage", Model)');
            refresh();
        });

    function refresh() {
        setTimeout(
            function(){
                $ ('#responses').load('@Url.Action("_GetResponses", "ForumManage", Model)');
                refresh();
            }, 1500);
    }
</script>
